<h1>Articles#show</h1>
	<p>Find me in app/views/articles/show.html.erb</p>
  <%= @article.title %>
  <br>
  <%= @article.content %>
  <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <p>delete</p>
  <% end %>
